.presentacion {
  padding: 10rem 5rem 7rem 5rem;

  .presentacion__titulo {
    @include fonts;
    font-size: 1.1rem;
    color: var(--primary-color);
  }

  .presentacion__texto {
    width: 30%;
    @include fonts;
    font-size: 1rem;
    color: var(--primary-color);
  }
}

@media (max-width: 768px) {
  .presentacion__titulo h2 {
    margin-bottom: 2rem;
  }
}
@media (max-width: 576px) {
  .presentacion {
    padding: 1rem;
  }

  .carousel-inner {
    width: 100%;
    margin: 0 auto;
  }

  .menu__logo {
    display: none;
  }
}
.carousel-inner {
  width: 80%;
  margin: 0 auto;

  .carousel-item img {
    max-height: 60rem;
    width: 100%;
    margin: auto;
  }
}
